/* Portfolio */
#head-bar {
  height:160px;
  width: 25%;
  float:left;
  padding-left:20px;
  text-align:left;
  font-family: Avenir, sans-serif;
  color: #000000;
  border: 2px solid #000000;
}

#menu {

  margin-left:200px;
}

#nw-p {
  height: 160px;
  width: 25%;
  float:right;
  border: 2px solid #000000;
}
#appmenu li {
	white-space: nowrap;
	display:block;
	padding: .25em .75em;
	border: 1px solid #000000;
}

#appmenu > li {
	float: left;
	background-color: #FFFFFF;
	text-align: center;
	position:relative;
	cursor: pointer;
}
#appmenu :hover,
#appmenu :focus {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #000000;
	text-decoration: underline;
}

#appmenu :hover li,
#appmenu :focus li {
	color: #000000;
	background-color: #FFFFFF;
}

#appmenu > li > ul {
	position:absolute;
	left:-1;
	right:0;
	top:100%;
	padding:0;
	margin:0;
	background-color: #FFFFFF;
	width: 125%;
	text-align: left;
}

#appmenu > li[aria-expanded="true"] > ul {
	display:block;
}


#hello {
  width:80%;
  margin-top:5px;
  height:160px;
  border: 5px solid #000000;
}

#top {
  height:200px;
  text-align:center;
  background-color:#404040;
  border: 5px solid #000000;
}



#rep-project{
  text-align:center;
  padding-top:62px;

}

.ShowCase {
  text-align:center;
  padding-top:0px;
  border:2px solid #000000;
}

.Showcase-img {
  width:750px;
  height:450px;
}


#resume-p {
  width:500px;
  height:300px;
  border:2px solid #000000;
}

#resume {
  width:49.8%;
  float:left;
  text-align:center;
  border:2px solid #000000;
}

#bio-p {
  width:500px;
  height:300px;
  border:2px solid #000000;
}

#bio {
  width:49.8%;
  float:right;
  text-align:center;
  border:2px solid #000000;
}

#PCI, th, td  {
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: 750px;
}

#PersonalContactInfo {
  text-align: center;
  border:2px solid #000000;
}

/* Showcase 1 */

#S-head-bar {
  color:#FFFFFF;
  text-align:center;
  background-color: #0040ff;
}

.S-img-intro {
  width:1000px;
  height:450px;
}

#HC {
  text-align:center;
  float:left;
  border:2px solid #000000;
}

#FJ {
  text-align:center;
  float:right;
  border:2px solid #000000;
}

.S-img-RM {
  width:500px;
  height:300px;
}

#img-RM {
  padding-top:525px;
  text-align:center;
  border:2px solid #000000;
}

.Description {
  text-align: center;
  border:2px solid #000000;
}

/* Showcase 2 */

#S-machine-dynamics {
  text-align:center;
  padding-top:0px;
  border:2px solid #000000;
}

#configuation {
  width:600px;
  height:1000px;
}
.P-img-MDR {
  width:500px;
  height:300px;
}


nav > ul li       ul { display: none; }
nav > ul li:hover ul { display: block;}
